.App {
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  background-image: linear-gradient(to right, rgba(200,34,68,0.2), rgba(200,34,68,0), rgba(200,34,68,0.2));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  color: azure;
  background-color: #983468;
  padding-top: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: #DE770F;
}

.Footer {
  color: azure;
  background-color: #983468;
  padding-top: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: #DE770F;
}